.content-area {
	width: 100%!important;
}

.fixed-1 {
	position: fixed;
	top: 100px;
}

section.andrew-portfolio {

	div {
		overflow-x: hidden;
		margin-left: -100%;
		transition: all 600ms ease 0s;
		min-height: 500px;
		width: 87%;

		h4 {
			transition: all 500ms ease 0s;
		}

		ul {
			transition: all 550ms ease 0s;
		}
	}

	.fixed-2 {
		position: fixed;
		top: 200px;
	}

	.fixed-3 {
		position: fixed;
		top: 300px;
		padding: 0;
	}
}