.content-area {
    width: 100%!important;
}

div.entry-content {
    margin-top: 300px;
    
    @media screen and (max-width: 880px) {
        margin: 10%;
        margin-top: 300px;
    }

    @media screen and (max-width: 680px) {
        margin: 1%;
        margin-top: 300px;
    }
}

section.andrew-portfolio {

    h1 {
        top: 300px;
        transition: all 600ms ease 0s;
    }

    div.showing {
        margin-left: 0;
    }

    div {
        overflow: hidden;
        margin-left: -150%;
        transition: all 600ms ease 0s;
        height: 700px;
        width: 80%;
        max-width: 1150px;

        @media screen and (max-width: 880px) {
            width: 70%;
        }

        @media screen and (max-width: 600px) {
            width: 90%;
            height: 550px;

            h4 {
                font-size: 0.8em;
                width: 90%;
                margin: 10px;
            }

            h5 {
                margin-bottom: 5px;
            }

        }

        ul {
            width: 40%;
            min-width: 300px;
            max-width: 450px;
            display: inline-block;
            vertical-align: top;
            transition: all 2000ms ease 0s;

            li:nth-child(1) {
                transition: all 1000ms ease 0s;
            }

            li:nth-child(2) {
                transition: all 1200ms ease 0s;
            }

            li:nth-child(3) {
                transition: all 1400ms ease 0s;
            }

            li:nth-child(4) {
                transition: all 1600ms ease 0s;
            }
            
            li:nth-child(5) {
                transition: all 1800ms ease 0s;
            }

            li:nth-child(6) {
                transition: all 2000ms ease 0s;
            }

            li {
                //margin-left: -40%;
                padding: 10px;

                @media screen and (max-width: 880px) {
                    padding: 0;
                    margin: 5px;
                }

                span {
                    border-radius: 10px;
                    display: inline-block;
                    padding: 10px;
                }

                span.skill-bar-1 {
                    background: linear-gradient(to right, white, green);
                    width: 100%;
                }

                span.skill-bar-2 {
                    background: linear-gradient(to right, white, #5bad5b);
                    width: 67%;

                    @media screen and (max-width: 880px) {
                        width: 82%;
                    }
                }

                span.skill-bar-3 {
                    background: linear-gradient(to right, white, #add6ad);
                    width: 45%;

                    @media screen and (max-width: 880px) {
                        width: 70%;
                    }
                }
            }
        }

        img {
            transition: all 1000ms ease 0s;
        }
    }

    .fixed-1 {
        position: fixed;
        top: 50px;

        @media screen and (max-width: 680px) {
            top: 25px;
        }
    }

    form {

        input[type='text'], input[type='email'] {
            min-width: 350px;
            max-width: 500px;
            width: 45%;
            margin: 1%;

            @media screen and (max-width: 680px) {
                min-width: 90%;
            }
        }

        input[type='submit'] {
            margin: 1% 2%;
            display: block;
        }

        input.digit {
            width: 30px;
            min-width: 30px;
        }

        textarea {
            margin: 1%;
            width: 94%;
            max-width: 1030px;
            height: 300px;
        }
    }
}

section.andrew-nav-menu {
    transition: all 600ms ease 0s;
    display: none;
    right: 3%;

    @media screen and (max-width: 980px) {
        right: 5%;

        div.pipe {
            opacity: 0;
        }
    }

    p {
        font-size: 10px;
    }

    div {
        min-height: 25px;
        font-size: 10px;
        padding-top: 6px;
        padding-right: 5px;
        cursor: pointer;
        border-right: 5px solid #1a1a1a;
        background: transparent;
        &:hover {
            background: linear-gradient(to right, transparent, #ccc);
        }
    }

    /*div.pipe {
        cursor: pointer;
        background: url(assets/images/point1.png) right no-repeat;
        
    }

    div.point {
        cursor: pointer;
        background: url(assets/images/point2.png) right no-repeat;
    }*/

    div.point-hover {
        background: url(assets/images/point3.png) right no-repeat;
    }
}

.andrew-fixed {
    display: block!important;
    position: fixed;
    text-align: right;
    top: 50px;

    @media screen and (max-width: 680px) {
        top: 0;
    }
}