.content-area {
    width: 100%!important;
}

div.entry-content {


    @media screen and (max-width: 880px) {
        margin: 10%;

    }

    @media screen and (max-width: 680px) {
        margin: 1%;

    }
}

section.andrew-portfolio {

    padding: 0;

    h1, h2, h3, h4, h5, h6, li, p {
        font-family: Montserrat, "Helvetica Neue", sans-serif;
    }

    h1 {

    }

    p.portfolio-down {
        text-align: center;
        transition: all 200ms ease 0s;
        margin: 0;
        span {
            font-size: 10rem;
            width: auto;
        }
    }

    div.showing {
        margin-left: 0;
    }

    @media screen and (max-width: 600px) {
        h4 {
            margin: 10px;
        }
    }

    div {
        top: 300px;
        margin-top: 300px;
        overflow: hidden;
        margin-left: -150%;
        transition: all 600ms ease 0s;
        min-height: 700px;
        max-width: 1150px;

        @media screen and (max-width: 880px) {
            width: 70%;
        }

        @media screen and (max-width: 600px) {
            width: 90%;
            height: 550px;

            h4 {
                font-size: 0.8em;
                width: 90%;
                margin: 10px;
            }

            i, strong {
                margin: 10px;
            }

            h5 {
                margin-bottom: 5px;
            }

        }

        ul {
            width: 40%;
            min-width: 300px;
            max-width: 450px;
            display: inline-block;
            vertical-align: top;
            transition: all 2000ms ease 0s;

            li:nth-child(1) {
                transition: all 1000ms ease 0s;
            }

            li:nth-child(2) {
                transition: all 1200ms ease 0s;
            }

            li:nth-child(3) {
                transition: all 1400ms ease 0s;
            }

            li:nth-child(4) {
                transition: all 1600ms ease 0s;
            }

            li:nth-child(5) {
                transition: all 1800ms ease 0s;
            }

            li:nth-child(6) {
                transition: all 2000ms ease 0s;
            }

            li {
                //margin-left: -40%;
                padding: 10px;

                @media screen and (max-width: 880px) {
                    padding: 0;
                    margin: 5px;
                }

                span {
                    border-radius: 10px;
                    display: inline-block;
                    padding: 10px;
                }

                span.skill-bar-1 {
                    background: linear-gradient(to right, white, green);
                    width: 100%;
                }

                span.skill-bar-2 {
                    background: linear-gradient(to right, white, #5bad5b);
                    width: 67%;

                    @media screen and (max-width: 880px) {
                        width: 82%;
                    }
                }

                span.skill-bar-3 {
                    background: linear-gradient(to right, white, #add6ad);
                    width: 45%;

                    @media screen and (max-width: 880px) {
                        width: 70%;
                    }
                }
            }
        }

        img {
            transition: all 1000ms ease 0s;
        }
    }

    .fixed-1 {
        transition: all 500ms ease 0s;
        position: fixed;
        top: 0;
        padding: 50px 0 10px 0;
        margin: 0 0 0 -5%;
        width: 100%;
        background: white;

        @media screen and (max-width: 1080px) {
            margin: 0;
        }
        @media screen and (max-width: 680px) {
            width: 92%;
            padding: 25px 0 10px 10px;
            margin-left: 0;
        }
    }

    form {

        input[type='text'], input[type='email'] {
            min-width: 350px;
            max-width: 500px;
            width: 45%;
            margin: 1%;

            @media screen and (max-width: 680px) {
                min-width: 90%;
            }
        }

        input[type='submit'] {
            margin: 1%;
            display: block;
        }

        input.digit {
            margin: 1%;
            max-width: 7rem;
            display: inline;
        }

        textarea {
            margin: 1%;
            width: 94%;
            max-width: 1030px;
            height: 300px;
        }
    }
}

section.andrew-nav-menu {
    transition: all 600ms ease 0s;
    display: none;
    right: 3%;


    @media screen and (max-width: 980px) {
        opacity: 0.5;

        div.pipe {

        }
    }

    p {
        font-size: 10px;
    }

    div {
        font-family: Montserrat, "Helvetica Neue", sans-serif;
        min-height: 25px;
        font-size: 10px;
        padding-top: 6px;
        padding-right: 5px;
        cursor: pointer;
        border-right: 5px solid #1a1a1a;
        background: transparent;
        &:hover {
            background: linear-gradient(to right, transparent, #ccc);
        }
    }

    div.point-hover {
        border-right: 5px dashed black;
    }
}

.andrew-fixed {
    display: block!important;
    position: fixed;
    text-align: right;
    top: 50px;
    padding: 0;
    z-index: 2;
    width: 150px!important;

    @media screen and (max-width: 980px) {
        top: 20px;
    }
}
